@font-face {
  font-family: Playfair;
  src: url("../../../static/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}

@font-face{
  font-family: CinzelDecorative;
  src: url("../../../static/fonts/CinzelDecorative/CinzelDecorative-Bold.ttf")
}

@font-face{
  font-family: DancingScript;
  src: url("../../../static/fonts/DancingScript/DancingScript-Bold.ttf")
}

.header {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  //background: grey;

  .menu {
    display: flex;
    justify-content: space-around;
    margin: auto;
    //background: green;
    height: 100%;

    div {
      display: flex;
      height: 100%;
      width: 150px;
      //background: purple;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    a {
      padding: 20px;
      //background: yellow;
      font-family: CinzelDecorative;
      font-size: 1.5em;
      
      &:hover {
        font-family: DancingScript;
        font-size: 2em;
        padding-top: 10px;
      }
    }
  }
}